.featuredContainer {
  background-image: url("/images/featured-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--color-white);

  @media screen and (min-width: 1441px) {
    height: 90vh;
  }
}

.featuredContentContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.featuredLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
}

.featuredLeft button {
  font-weight: 500;
  color: var(--color-secondary);
  max-width: 32rem;
  border-radius: var(--border-radius);
  padding: 0.8rem 0;
  margin-top: 2rem;
}

.featuredRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.featuredImageContainer {
  position: absolute;
  bottom: -100px;
}
