.visionContainer {
  display: flex;
  justify-content: flex-end;
  width: var(--body-content-width);
  margin: 15rem auto;
  position: relative;
}
.visionContainer h1 {
  color: var(--color-secondary);
  font-size: 3rem;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 40%;
}

.visionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.3rem;
}
.visionItem p {
  margin-left: 1rem;
}

.rightContainer {
  flex-basis: 60%;
  position: absolute;
  left: 0;
  top: -70px;
  display: flex;
  justify-content: flex-end;
}

.rightContainer img {
  width: 100%;
}
