.sliders {
  width: var(--body-content-width);
  margin: 10rem auto;

  @media screen and (max-width: 768px) {
    margin: 4rem auto;
    margin-bottom: 13rem;
  }
}

.sliderImageContainer {
  position: relative;
  width: 12rem;
  height: 12rem;
  padding-right: 4rem;

  @media screen and (max-width: 768px) {
    width: 5rem;
    height: 5rem;
  }
}

.sliderImage {
  object-fit: contain;
  padding: 0 5rem;

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
  }
}
