.aboutUsContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 15rem auto;
  position: relative;
}
.aboutUsContainer h1 {
  color: var(--color-secondary);
  font-size: 3rem;
}

.aboutUsNestedContainer {
  overflow: hidden;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 40%;
}

.aboutUsItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.aboutUsItem p {
  margin-left: 1rem;
}

.centerContainer {
  flex-basis: 20%;
  padding-left: 3rem;
}
.centerContainer h1 {
  font-size: 5rem;
}

.aboutUsFigureItem {
  margin-bottom: 4rem;
}

.rightContainer {
  /* flex-basis: 40%; */
  position: absolute;
  right: 0;
  top: 10;
  display: flex;
  justify-content: flex-end;
}

.rightContainer img {
  width: 90%;
}
