.aboutUsContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 15rem auto;
  position: relative;

  @media screen and (max-width: 1280px) {
    justify-content: space-around;
  }
}
.aboutUsContainer h1 {
  color: var(--color-secondary);
  font-size: 3rem;
}

.aboutUsNestedContainer {
  overflow: hidden;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 40%;

  @media screen and (max-width: 1280px) {
    flex-basis: 60%;
  }
}

.aboutUsItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.aboutUsItem p {
  margin-left: 1rem;
}

.centerContainer {
  flex-basis: 20%;
  padding-left: 3rem;
  padding-top: 2rem;

  @media screen and (max-width: 1280px) {
    padding-left: 0;
  }
}

.centerContainer h1 {
  font-size: 5rem;
}

.aboutUsFigureItem {
  margin-bottom: 4rem;
}

.rightContainer {
  /* flex-basis: 40%; */
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 1280px) {
    position: relative;
    margin-top: -12rem;
  }
}

.rightContainer img {
  width: 90%;
}
