.missionContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 15rem auto;
  position: relative;

  @media screen and (max-width: 1280px) {
    margin: 10rem auto;
  }

  @media screen and (max-width: 576px) {
    margin: 5rem auto;
  }
}

.missionContainer h1 {
  color: var(--color-secondary);
  font-size: 3rem;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 40%;

  @media screen and (max-width: 1280px) {
    flex-basis: 100%;
    margin: 0 20rem;
  }

  @media screen and (max-width: 1280px) {
    margin: 0;
  }
}

.missionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.3rem;
}

.missionItem p {
  margin-left: 1rem;
}

.rightContainer {
  flex-basis: 60%;
  position: absolute;
  right: 0;
  top: -80px;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 1280px) {
    position: relative;
    top: 0px;
  }
}

.rightContainer img {
  width: 100%;

  @media screen and (max-width: 1280px) {
    height: 60rem;
  }

  @media screen and (max-width: 768px) {
    height: 40rem;
  }

  @media screen and (max-width: 576px) {
    height: 25rem;
  }
}
