.companiesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--body-content-width);
  margin: 7rem auto;
  margin-top: 12rem;
}

.companiesContainer h2 {
  color: var(--color-secondary);
  text-align: center;
}
