.contactUsContainer {
  background-color: var(--color-white);
  width: var(--body-content-width);
  padding: 8rem 0;
  margin: 4rem auto;
  margin-top: 0;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 8rem;
}

.headings h2 {
  color: var(--color-secondary);
}

.map {
  width: 100%;

  @media screen and (max-width: 576px) {
    height: 20rem;
  }
}
